[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit https://image.eveonline.com/InventoryType/24698_32.png
Type=Link
URL=https://image.eveonline.com/InventoryType/24698_32.png
Icon=image-png
